/* General */
.modal-submit-button {
    margin-right: 16px;
}

/* Application */

.App {
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: #202124;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.application-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.application-header {
    border-bottom: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-logo {
    margin: 0;
    padding: 0 16px 0 0;
}

.header-right {
    margin-right: 24px;
}

.header-button {
    margin: 0 16px;
}

/* AuthForm */

.auth-form-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form-container {
    background-color: #332d2d;
    border-radius: 16px;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button {
    font-size: 2rem;
    height: auto;
    width: auto;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

/* Project.tsx */
.projects-wrapper {
    width: 100%;
}

.project-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 16px 0;
}

.kanban-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.issue-card {
    height: 70vh;
}

.issue-card-text-wrapper {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.issue-card-title {
    margin: 0;
    padding: 4px 4px 4px 0;
}

.issue-card-text {
    margin: 0;
    padding: 4px 4px 4px 0;
}

.card-moving-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.move-left,
.move-right {
    margin: 8px 8px 0 8px;
}
